<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Your Password</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f7f7f7;
      margin: 0;
      padding: 0;
    }

    .email-container {
      width: 500px;
      margin: 50px auto;
      background-color: #ffffff;
      padding: 30px;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .logo {
      width: 219px;
      padding: 0;
      margin-bottom: 10px;
    }

    .title {
      font-size: 22px;
      font-weight: bold;
      color: #222;
      margin-bottom: 10px;
    }

    .message {
      font-size: 16px;
      color: #777;
      margin-bottom: 20px;
    }

    .cta-button {
      display: inline-block;
      background-color: #000;
      color: #ffffff;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      padding: 12px 24px;
      border-radius: 5px;
    }

    .cta-button:hover {
      background-color: #333;
    }

    .footer {
      font-size: 14px;
      color: #777;
      margin-top: 20px;
    }
  </style>
</head>
  <body>

  <div class="email-container">
    <img src="https://app.pinkcollar.live/assets/PinkCollarLogo-C0wxdE7C.png" alt="Pink Collar Logo" class="logo">
    <h1 class="title"><span style="color: rgb(233, 30, 99)">Congratulations!</span> Welcome to the Pink Collar Family!</h1>
    <p>
      We are thrilled to have you join this powerful community of women supporting women! Whether you're here to find your next big opportunity, grow your network, or get inspired — you are in the right place.
    </p>
    <p>
      🌟 Don't miss our Career Fair Event on <b><span style="color: rgb(233, 30, 99)">February 20th</span></b> at<br><b><span style="color: rgb(233, 30, 99)">Defence Raya and Golf Club, DHA Phase 6. 9.00am to 5.00pm</span></b>
    </p>
    <p>
      It's the perfect chance to connect and kickstart your journey with us.
    </p>
    <p>
      Need help? Reach us at <a href="mailto:info@pinkcollar.live" style="color: rgb(233, 30, 99)">info@pinkcollar.live</a> — we're here to support you!
    </p>
  </div>

</body>
</html> 