<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Your Password</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f7f7f7;
      margin: 0;
      padding: 0;
    }

    .email-container {
      width: 579px;
      margin: 50px auto;
      background-color: #ffffff;
      padding: 30px;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .logo {
      width: 219px;
      padding: 0;
      margin-bottom: 10px;
    }

    .title {
      font-size: 22px;
      font-weight: bold;
      color: #222;
      margin-bottom: 10px;
    }

    .message {
      font-size: 16px;
      color: #777;
      margin-bottom: 20px;
    }

    .cta-button {
      display: inline-block;
      background-color: #000;
      color: #ffffff !important;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      padding: 12px 24px;
      border-radius: 5px;
    }

    .cta-button:hover {
      background-color: #333;
    }

    .footer {
      font-size: 14px;
      color: #777;
      margin-top: 20px;
    }
  </style>
</head>
<body>

  <div class="email-container">
    <img src="https://app.pinkcollar.live/assets/PinkCollarLogo-C0wxdE7C.png"  alt="Pink Collar Logo" class="logo">
    
    <p class="title">Forgot your password?</p>
    
    <p class="message">
      That's okay, it happens! Click on the button below to reset your password.
    </p>

    <a href="<%= @reset_password_url %>" class="cta-button">RESET YOUR PASSWORD</a>

    <p class="footer">
      If you didn't request this email, there's nothing to worry about — you can safely ignore it.
    </p>
  </div>

</body>
</html>
